# --- Reglas generales para ejemplos ESP-IDF en Tares_5_Octubre ---
/Tares_5_Octubre/*/build/
/Tares_5_Octubre/*/*.bin
/Tares_5_Octubre/*/*.elf
/Tares_5_Octubre/*/*.map
/Tares_5_Octubre/*/sdkconfig.old
